adminUser: admin
adminPassword: prom-operator-change-me

persistence:
  enabled: true
  size: 10Gi

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-server.monitoring.svc.cluster.local
        isDefault: true

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: strategyforge
        orgId: 1
        folder: StrategyForge
        type: file
        options:
          path: /var/lib/grafana/dashboards/strategyforge

dashboardsConfigMaps:
  strategyforge: strategyforge-dashboards
